body {
	font-family: sans-serif;
}
.Board {
	width: 810px;
	height: 810px;
	position: absolute;
	z-index: 0;
}
.Background {
	width: 810px;
	height: 810px;
	border-radius: 5px;
	position: absolute;
	z-index: -2;
	background: #bbada2;
}
.BGTile {
	width: 180px;
	height: 180px;
	border-radius: 5px;
	position: absolute;
	z-index: -1;
	background: rgba(238, 228, 218, 0.35);
	color: black;
}
.Tile {
	opacity: 0;
	line-height: 180px;
	width: 180px;
	height: 180px;
	border-radius: 5px;
	position: absolute;
	text-align: center;
	font-weight: bold;
	z-index: 1;
}
